PORT = 5000
MONGO_URI = mongodb://localhost:27017/homelab
JWT_SECRET = # Muss selbst gesetzt werden. Ist ein Langer individueller String.

SEED_ADMIN_USER = Admin
SEED_ADMIN_PASSWORD= # Das Passwort muss selbst noch definiert werden. Es ist das Initialpasswort auf die Webseite.